@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full max-w-screen-lg m-auto flex flex-col;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  @apply p-4 w-full min-h-dvh m-auto;
}

@layer components {
  .register-book__input {
    @apply basis-full my-1 p-2 rounded outline-none border focus:border-brand-accent;
  }
}
